:root {
  --bg-color: #0b0b0b;
  --bg-footer: #0e0e0e;
  --color-red: #fb5757;
  --color-white: #ffffff;
  --color-blue: #339dff;
  --color-gray: #666666;

  /** font **/

  --font-roboto: 'Roboto', sans-serif;
  --font-syne: 'Syne', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
a {
  color: var(--color-white);
}

body {
  background-color: var(--bg-color);
  font-family: var(--font-roboto);
}

#container {
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1.66667rem;
}

/*** Menu e Logo ***/

header {
  display: inline-flex;
  width: 100%;
  margin: 0 auto;
  padding-top: 50px;
  justify-content: space-between;
}

nav ul li a {
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 64px;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s linear;
}

nav ul li a:hover {
  color: var(--color-red);
}

.active {
  color: var(--color-red) !important;
}

#linguagem ul li a {
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 22px;
  font-size: 13px;
  text-decoration: none;
  transition: all 0.2s linear;
}

#linguagem ul li a:hover {
  color: var(--color-red);
}

/******* Introduction **********/

#introduction {
  padding-top: 243px;
}

#introduction h1 {
  font-weight: bold;
  color: var(--color-white);
  font-size: 5.22222rem;
}
#introduction p {
  color: var(--color-white);
  font-size: 1.16667rem;
}
.text-red {
  color: var(--color-red);
}
.buttons {
  padding-top: 35px;
}
.button-about {
  border-radius: 12px;
  border: 1px solid var(--color-red);
  font-size: 18px;
  font-weight: 500;
  color: var(--color-white);
  background-color: transparent;
  width: 342px;
  height: 65px;
  text-transform: lowercase;
  margin-right: 24px;
  cursor: pointer;
  transition: all 0.2s linear;
}
.button-cv {
  border-radius: 12px;
  border: 1px solid var(--color-blue);
  font-size: 18px;
  font-weight: 500;
  color: var(--color-white);
  background-color: transparent;
  width: 342px;
  height: 65px;
  text-transform: lowercase;
  margin-right: 24px;
  cursor: pointer;
  transition: all 0.2s linear;
}

.button-about:hover {
  background-color: var(--color-red);
}
.button-cv:hover {
  background-color: var(--color-blue);
}

/******* Portfolio **********/

#trabalhos {
  max-width: 1100px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1.66667rem;
  flex-direction: row;
  height: auto;
  padding-top: 10%;
}

#content-trabalhos {
  display: flex;
  flex-wrap: wrap;
}

#main-trabalhos {
  margin: 0px;
  padding-left: 12px;
  padding-right: 12px;
  padding-bottom: 24px;
  width: 50%;
  max-width: 50%;
  flex: 0 0 auto;
  flex-basis: 50%;
}

.thumb:hover {
  box-shadow: 0rem 0rem 0.7222222222222222rem 0.3333333333333333rem
    rgb(2 0 0 / 0%);
}

.thumb {
  position: relative;
  overflow: hidden;
  border-radius: 15px;
  transition: box-shadow 0.3s ease;
}

.thumb-hover {
  background-color: rgba(0, 0, 0, 1);
}

.thumb:hover .thumb-hover {
  opacity: 1;
}

.thumb .thumb-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bg-color);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top left;
  opacity: 0;
  top: 0;
  z-index: 10;
  transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  display: flex;
}

.thumb:hover img {
  transform: scale(1);
}

.thumb img {
  transition: all 0.07s ease;
}

.img-trabalho {
  max-width: 100%;
  width: 100%;
  border-radius: 15px;
  height: auto;
}

.thumb-hover-meta {
  transform: translateY(10px);
  padding: 2.22rem;
  align-self: center;
  text-align: center;
  width: 100%;
}

.title-trabalhos {
  color: var(--color-white);
  font-size: 2.3333333333333335rem;
  text-transform: none;
  line-height: 1.5;
  font-family: var(--font-roboto);
  font-weight: 700;
  font-style: normal;
}

.category {
  color: var(--color-gray);
  font-size: 1rem;
  text-transform: none;
  line-height: 1.5;
  font-family: var(--color-white);
  font-weight: 400;
  font-style: normal;
}

/***************** Footer **********/

footer {
  padding-top: 3.0555555555555554rem;
  padding-bottom: 1.055556rem;
  background-color: var(--bg-footer);
  display: flex;
  flex-direction: column;
  border-style: solid;
  width: 100%;
  border: none;
  margin-top: 0%;
  position: relative;
  bottom: 0;
}

footer.footer-2 {
  padding-top: 3.0555555555555554rem;
  padding-bottom: 1.055556rem;
  background-color: var(--bg-footer);
  display: flex;
  flex-direction: column;
  border-style: solid;
  width: 100%;
  border: none;
  margin-top: 0%;
  position: fixed;
  bottom: 0;
}

#main-footer p {
  color: var(--color-gray);
  font-family: var(--font-roboto);
  font-weight: 400;
  font-style: normal;
  font-size: 0.888889rem;
  line-height: 0.333333rem;
  text-align: center;
  margin-bottom: 1.66667rem;
}

#main-footer a {
  text-decoration: none;
  font-weight: 700;
  padding-left: 13px;
  transition: all 0.2s linear;
}

#main-footer a:hover {
  color: var(--color-red);
}

/****************** Sobre ***************/

#sobre {
  max-width: 890px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1.66667rem;
  height: auto;
  padding-top: 6%;
  justify-content: space-between;
  align-items: center;
}

.introduction-sobre p {
  color: var(--color-white);
  font-family: var(--font-roboto);
  font-weight: 700;
  font-style: normal;
}

#avatar-pessoal {
  height: auto;
}

.img-pessoal {
  border-radius: 15px;
}

#desc-pessoal {
  padding-top: 3.0555555555555554rem;
  padding-bottom: 1.055556rem;
  background-color: var(--bg-footer);
  display: flex;
  flex-direction: column;
  border-style: solid;
  position: relative;
  width: 100%;
  border: none;
  margin-top: 3%;
}

#content-desc {
  max-width: 890px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1.66667rem;
  height: auto;
  justify-content: space-between;
  align-items: center;
  word-break: break-word;
}

#content-desc p {
  color: var(--color-gray);
  font-family: var(--font-roboto);
  font-size: 1.11111rem;
  line-height: 1.83333rem;
  font-weight: 500;
}

#transition {
  opacity: 0;
}

.page-loaded #transition {
  opacity: 1;
  transition: opacity 2.3s ease;
}

/*********** Blog **********/

#blog {
  max-width: 890px;
  display: flex;
  margin-right: auto;
  margin-left: auto;
  padding: 0 1.66667rem;
  height: auto;
  padding-top: 6%;
  justify-content: space-between;
  align-items: center;
}

.introduction-blog p {
  color: var(--color-white);
  font-family: var(--font-roboto);
  font-weight: 700;
  font-style: normal;
}

/**************** Media Mobile *************/

@media only screen and (max-width: 600px) {
  #content-trabalhos {
    display: flex;
    align-content: center;
    height: 100%;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
  }
  #main-trabalhos {
    margin: 0px;
    padding-left: 12px;
    padding-right: 12px;
    padding-bottom: 24px;
    width: 100%;
    max-width: 100%;
    flex: 0 0 auto;
    flex-basis: 50%;
  }
  #trabalhos {
    max-width: 1100px;
    display: flex;
    margin-right: auto;
    margin-left: auto;
    padding: 0px 0.66667rem;
    flex-direction: row;
    height: auto;
    padding-top: 10%;
  }
  .button-about {
    border-radius: 12px;
    border: 1px solid var(--color-red);
    font-size: 18px;
    font-weight: 500;
    color: var(--color-white);
    background-color: transparent;
    width: 272px;
    height: 65px;
    text-transform: lowercase;
    margin-right: 24px;
    cursor: pointer;
    transition: all 0.2s linear;
  }
  .button-cv {
    border-radius: 12px;
    border: 1px solid var(--color-blue);
    font-size: 18px;
    font-weight: 500;
    color: var(--color-white);
    background-color: transparent;
    width: 272px;
    height: 65px;
    text-transform: lowercase;
    margin-right: 24px;
    cursor: pointer;
    transition: all 0.2s linear;
    margin-top: 8px;
  }
  #introduction p {
    color: var(--color-white);
    font-size: 0.9rem;
  }
  #introduction {
    padding-top: 44px;
    margin: 0 auto;
    display: inline-flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
    text-align: center;
  }
  #container {
    max-width: 1100px;
    display: flex;
    flex-wrap: nowrap;
    margin-right: auto;
    margin-left: auto;
    padding: 0 0.6rem;
    justify-content: center;
    flex-direction: column;
    align-content: center;
  }
  .buttons {
    padding-top: 35px;
    margin-left: 24px;
  }
  #main-footer {
    text-align: center;
    display: inline-flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }
  #main-footer p {
    color: var(--color-gray);
    font-family: var(--font-roboto);
    font-weight: 400;
    font-style: normal;
    font-size: 0.888889rem;
    line-height: 1.333333rem;
    text-align: center;
    margin-bottom: 0.66667rem;
    padding: 2px;
    width: auto;
}
  #introduction h1 {
    font-weight: bold;
    color: var(--color-white);
    font-size: 2.22222rem;
  }
  header {
    display: inline-flex;
    width: 50%;
    margin: 0 auto;
    padding-top: 50px;
    justify-content: center;
    text-align: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: center;
}
li {
  list-style: none;
  display: inline-flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
}
nav ul li a {
  color: var(--color-white);
  text-transform: uppercase;
  font-weight: 700;
  margin-right: 0px;
  margin-top: 10px;
  font-size: 13px;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s linear;
}
}
